@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --default-font-size: 16px;
  --default-line-height: 1.5;
  --color-background: #f3f3f3;
  --color-foreground: #111827;
  --color-foreground-muted: #1F2937;
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-secondary: #F3F4F6;
  --color-secondary-hover: #E5E7EB;
  --color-danger: #EF4444;
  --color-danger-hover: #DC2626;
  --color-stroke: #d1d2d5;
  --color-ring: #E5E7EB;
}

@layer base {
  body {
    font-size: var(--default-font-size);
    font-optical-sizing: auto;
    line-height: var(--default-line-height);
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
}

.container {
  @apply mx-auto max-w-360 px-4 xl:px-10;
}
